<nav>
  <a routerLink="/">Home</a>
  |
  <a routerLink="/user">User</a>
</nav>
<form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
  <label>
    Name
    <input type="text" formControlName="name" />
  </label>
  <label>
    Email
    <input type="email" formControlName="email" />
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>
<h2>Profile Form</h2>
<p>Name: {{ profileForm.value.name }}</p>
<p>Email: {{ profileForm.value.email }}</p>
<p>Car Listing: {{ display }}</p>
{{ username | lowercase }}
<ul>
  <li>Number with "decimal" {{ num | number:'3.2-2' }}</li>
  <li>Date with "date" {{ birthday | date:'medium' }}</li>
  <li>Currency with "currency" {{ cost | currency:'EUR' }}</li>
</ul>
Reverse machine: {{ word | reverse }}
<router-outlet />
